<p class="pull-right">
  <%= link_to admin_articles_new_path, class: 'btn btn-primary' do %>
    Add Article <i class="glyphicon glyphicon-plus glyphicon-white"></i>
  <% end %>
</p>

<% if @articles.count != 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Published</th>
        <th>Last Updated</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= format_date(article.created_at) %></td>
          <td><%= format_date(article.updated_at) %></td>
          <td><%= link_to 'Edit', admin_articles_edit_path(article) %></td>
          <td><%= link_to 'Delete', admin_articles_destroy_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are currently no news stories.</p>
<% end %>
