<%= form_for @article, url: {action: @action} do |f| %>
  <% if @article.errors.any? %>
    <div class="alert alert-danger">
      <p>Please amend the following <%= pluralize(@article.errors.count, 'field') %>:</p>

      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'form-control', :maxlength => '150', :required => true %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.bootsy_area :content, cols: 20, rows: 20, :class => 'form-control', :required => true %>
  </div>

  <div class="checkbox">
    <%= f.label :meta_generated, :class => 'checkbox inline' do %>
      <%= f.check_box :meta_generated %>
      Generate automatically
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :meta_title %>
    <%= f.text_field :meta_title, :class => 'form-control', :maxlength => '200' %>
  </div>

  <div class="form-group">
    <%= f.label :meta_description %>
    <%= f.text_field :meta_description, :class => 'form-control', :maxlength => '200' %>
  </div>

  <div class="form-group">
    <%= f.label :meta_keywords %>
    <%= f.text_field :meta_keywords, :class => 'form-control', :maxlength => '200' %>
  </div>

  <div class="form-group">
    <%= f.label :author %>
    <%= f.text_field :author, :class => 'form-control', :maxlength => '100', :required => true %>
  </div>

  <%= f.submit nil, :class => 'btn btn-default' %>
  <%= link_to 'Cancel', admin_articles_path, class: 'btn cancel' %>
<% end %>
